// ------ FONTS ------
$main_font: "29LT Bukra Bold";
$secondry_font: Alexandria, sans-serif;
$secondry_font_weight: 600;
$secondry_font_line_height: 2;

// --- FONT SIZES ---
$f_small: 1rem;
$f_medium: 1.5rem;
$f_large: 2rem;
$f_little_large: 2.5rem;
$f_very_large: 3rem;

// ------ SPACES ------
$m_small: 1em;
$m_medium: 1.5em;
$m_large: 2em;
$m_little_large: 2.5em;
$m_very_large: 3em;

// ------ PATHS ------
$cover_path: "../../media/cover/COVER.png";

// ------ COLORS ------
$main_color: #31a263;
$secondry_color: #ffffff;
$third_color: #151515;
