@use "./helpers/variables" as *;
@use "./helpers/mixins" as *;

body {
  direction: rtl;
}

@font-face {
  font-family: $main_font;
  src: local($main_font);
  font-weight: bold;
}

@include animations;

.cover {
  background-image: url(../../media/cover/COVER.png);
  background-size: cover;
  background-position: center;
  height: 75vh;

  header {
    width: 100%;
    margin-top: $m_small;
    position: absolute;

    .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: fade-down 0.5s;

      ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          font-family: $secondry_font;
          font-size: $f_medium;
          font-weight: 600;

          a {
            color: $secondry_color;
            text-decoration: none;
            transition: color 0.1s;

            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }

  .container {
    height: 100%;

    .cover-body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        h1 {
          font-family: $main_font;
          color: $main_color;
          margin: 0;
          animation: fade-up 1s;
          animation-delay: 0.05s;
        }

        p {
          font-family: $secondry_font;
          color: $secondry_color;
          font-weight: $secondry_font_weight;
          line-height: $secondry_font_line_height;
          margin: $m_medium 0 0 0;
          animation: fade-up 1s;
          animation-delay: 0.025s;
        }
      }

      .button {
        text-decoration: none;
        width: fit-content;
        margin-top: $m_large;
        font-family: $secondry_font;
        font-weight: $secondry_font_weight;
        line-height: $secondry_font_line_height;
        animation: fade-up 1s;

        @include button;
        @include hover;
      }
    }
  }
}
